PORT = TOADD

DB_HOST=TOADD
DB_USER=TOADD
DB_PASSWORD=TOADD
DB_DATABASE=TOADD
DB_PORT=TOADD
DB_SSLMODE=TOADD

ACCESS_TOKEN_SECRET=TOADD
ACCESS_TOKEN_DURATION=TOADD
REFRESH_TOKEN_SECRET=TOADD
REFRESH_TOKEN_DURATION_SECONDS=TOADD  

COOKIE_AUTH=TOADD
COOKIE_REFRESH=TOADD