PORT = 3333

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=123456
DB_DATABASE=zigtask
DB_PORT=5432
DB_SSLMODE=disable

ACCESS_TOKEN_SECRET=access_token_secret_task
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_SECRET=refresh_token_secret_task
REFRESH_TOKEN_DURATION_SECONDS=604800  # 7 days

COOKIE_AUTH=cookie_auth_task
COOKIE_REFRESH=cookie_refresh_task